.navbar{
	position: absolute;
	width: 100%;
	margin: 50px 0;

		&-nav {
		.nav-item {
			.nav-link {
				color: white;
				font-size: 18px;
				padding: 15px 5px;
 
				@media (max-width: 992px) {
				padding: 0px;
				margin-top: 18px;
				font-size: 14px;
				}
			}
		}
	}

	.navbar-toggler {
	border: 0;
	&-icon{
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
	}
		&:focus {
				box-shadow: none;
			}
			@media (max-width: 992px){
				order: 3;
			}
		}
		&-language {
			display: flex;

			&-item{
				font-size: 12px;
				color: white;
				letter-spacing: 1px;
				font-weight: 700;
				text-decoration: none;
				padding: 5px 6px;
				border-radius: 8px;

				@media (max-width: 992px){
				&.grey{
					color: grey;
				}
				&.grey:hover{
					color: #0d6efd;
				}
			}

				&.active{
					background-color: $red-color;
				}
		}
	}

	.navbar-container {
		flex-wrap: wrap;
	}
	&-brand{
		order: 1;
		@media (max-width: 992px){
			order: 2;
			padding-top: 20px;
		}
		@media (max-width: 767px){
			padding-top: 0;
		}

	}
	&-brand, .main-logo{
			@media (max-width: 767px){
			width: 77px;
		}
	}

	&-top{
		order: 2;
		width: 600px;
		display: flex;
		justify-content: flex-end;
		margin-bottom: auto;
		align-items: center;

		.dot{
		height: 6px;
		width: 6px;
		background-color: #E6E6F0;
		border-radius: 50%;
		display: inline-block;
		margin-top: 2px;
		}


		@media (max-width: 992px){
			order: 1;
			width: 100%;
			justify-content: space-between;
			.dot{
			display: none;
			}
		}
		@media (max-width: 767px){
		margin-bottom: 20px;
		}
	}
	&-collapse{
		order: 3;
		width: 600px;
		margin-top: -40px;
		@media (max-width: 992px) {
		margin-top: -15px;
	}
}
	&-address, &-phone {
		color: white;
		text-decoration: none;
		margin: 0 10px;

		@media (max-width: 992px){
				color: #B3B3BA;
		}
	}
	&-phone{
		font-weight: 700;
	}
	&-social {
		margin-left: 10px;
	}

	@media(max-width: 992px){
		&-address, &-social {
			display: none;
		}
	}
}

.second-page{
	.navbar {
		position: static;

		&-toggler-icon{
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
		}
			&-nav .nav-item .nav-link{
		color: $blue;
				&:active,
		&:hover {
      color: red;
      border-bottom: 2px solid red;
      padding-bottom: 0px;
    }
	}
}
	.navbar-top {
		width: 57%;
		@media (max-width: 992px){
			width: 100%;
		}
		a, p {
			color: grey;
		}
			.navbar-language {
				.active {
					color: white;
			}
		}
	}
	.navbar-brand-more{
		font-size: 38px;
		&:before, &:after{
			content: '';
			background-image: url(../img/slash.svg);
			display: inline-block;
			width: 21px;
			height: 46px;
			background-size: contain;
			background-repeat: no-repeat;
			vertical-align: middle;
		}
		&:after{
			background-image: url(../img/symbol.svg);
			width: 41px;
			height: 46px;

		}
		@media (max-width: 1280px){
			font-size: 19px;
		}
		&:before, &:after{
			height: 25px;
		}
		&:before{
			width: 10px;
		}
	}
}